<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">About</h1>
</div>

<div class="pt-3">
  <p>
    This is a simple dashboard designed for managing and updating church
    members' information.
  </p>
  <p>
    It helps church administrators keep track of members' details and streamline
    member management efficiently.
  </p>
</div>
